  <table align="center" class="table-property">
  <tr>
		<td>
This is a demo version of application for a real estate company.<br />
Folowing gems include to gemfile:
<br />
<li>gem 'pg', 0.18</li>
<li>gem 'jquery-rails', 4.3</li>
<li>gem 'carrierwave', 1.2.1</li>
<li>gem 'mini_magick', 4.8</li>
<li>gem 'fog', 1.35.0</li>
<li>gem 'net-ssh', 4.2.0</li>
<li>gem "fog-google", 0.6.0</li>
<li>gem 'google-api-client', 0.11</li>
<li>gem "mime-types", 3.1</li>
<li>gem "select2-rails, 4.0.3"</li>
<li>gem 'kaminari', 1.1.1</li>
<li>gem 'devise', 4.4</li>
</td>
</tr>
  </table>